html {
    font-size: 22px;
}

body {
    background-color: gray;
    color: whitesmoke;
}

.Heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    text-align: center;
}
